<nav>
  <h2>Code Guide</h2>
  <div>
    <img src="/assets/images/avatar.jpg"/>
    <div class='arrow'>
    </div>
    <div class='nav-list hide'>
      <ul>
        <li><a href="#">Settings</a></li>
        <li ><a href="#">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <form {{action 'save' model on='submit'}}>
    {{input type="text" value=model.title placeholder="Post Name"}}
    {{#each model.blocks as |block|}}
    {{#if block.paragraf}}
      {{tinymce-editor options=(hash formats=(hash p=(hash  classes= 'lol')) statusbar= false menu="false" plugins="link paste" paste_as_text=true toolbar='undo redo |  bold italic  | bullist numlist | link image') value=block.content class="paragraf" onValueChanged=(action "addText")}}
    {{else if block.code}}
      {{tinymce-editor options=(hash statusbar= false forced_root_block="pre" plugins="paste" paste_as_text=true  toolbar="false" menu="false") value=block.content onValueChanged=(action "addText")}}
    {{else}}
      {{input type="text" class=block.status value=block.content placeholder=block.status}}
    {{/if}}
    {{/each}}
    {{#if model.id}}
    <div class="btn-large-group">
      {{#each blocks as |block|}}
        <button class="primary-button btn small" {{action "addBlock" block model}}>{{block}}</button>
      {{/each}}
    </div>
    {{/if}}
    <div class="btn-group m-t">
      <button type="submit" class="primary-button btn small m-r">Save</button>
      {{#if model.language}}
        {{#link-to 'dashboard.languages.show' model.language.id class="secondary-button btn small" tagName="button"}}
          Cancel
       {{/link-to}}
      {{/if}}
      {{#if model.framework}}
        {{#link-to 'dashboard.frameworks.show' model.framework.id class="secondary-button btn small" tagName="button"}}
          Cancel
       {{/link-to}}
      {{/if}}
    </div>
  </form>
</div>