<nav>
  <h2>Code Guide</h2>
  <div>
    <img src="/assets/images/avatar.jpg"/>
    <div class='arrow'>
    </div>
    <div class='nav-list hide'>
      <ul>
        <li><a href="#">Settings</a></li>
        <li ><a href="#">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <form {{action 'save' model on='submit'}}>
    {{#if model.edit}}
      <h1>{{model.title}}</h1>
      <div class="btn-group   m-t">
        <button {{action 'editToggle' model}} class="primary-button btn small">Edit</button>
      </div>
    {{else}}
      {{input type="text" value=model.title placeholder="Post Name"}}
      <div class="btn-group m-t">
        <button type="submit" class="primary-button btn small m-r">Save</button>
        {{#if model.language}}
          {{#link-to 'dashboard.languages.show' model.language.id class="secondary-button btn small" tagName="button"}}
            Cancel
         {{/link-to}}
        {{/if}}
        {{#if model.framework}}
          {{#link-to 'dashboard.frameworks.show' model.framework.id class="secondary-button btn small" tagName="button"}}
            Cancel
         {{/link-to}}
        {{/if}}
      </div>
    {{/if}}
    {{#each model.blocks as |block|}}
      {{#if block.edit}}
        {{block.contentHtmlSafe}}
      <div class="btn-group   m-t">
        <button {{action 'editToggle' block}} class="primary-button btn small">Edit</button>
      </div>
      {{else if block.block}}
        {{tinymce-editor options=options1 value=block.content onValueChanged=(action "addText" block)}}
        <div class="btn-group m-t">
          <button {{action 'saveBlock' block}} class="primary-button btn small m-r">Save</button>
          <button {{action 'destroyBlock' block}} class="secondary-button btn small" tagName="button">Cancel</button>
        </div>
      {{else if block.code}}
        {{tinymce-editor options=options2 value=block.content onValueChanged=(action "addText" block)}}
        <div class="btn-group   m-t">
          <button {{action 'saveBlock' block}} class="primary-button btn small m-r">Save</button>
          <button {{action 'destroyBlock' block}} class="secondary-button btn small" tagName="button">Cancel</button>
        </div>
      {{else if block.hint}}
        {{tinymce-editor options=options3 value=block.content onValueChanged=(action "addText" block)}}
        <div class="btn-group   m-t">
          <button {{action 'saveBlock' block}} class="primary-button btn small m-r">Save</button>
          <button {{action 'destroyBlock' block}} class="secondary-button btn small" tagName="button">Cancel</button>
        </div>
      {{else if block.header}}
        {{tinymce-editor options=options4 value=block.content onValueChanged=(action "addText" block)}}
        <div class="btn-group   m-t">
          <button {{action 'saveBlock' block}} class="primary-button btn small m-r">Save</button>
          <button {{action 'destroyBlock' block}} class="secondary-button btn small" tagName="button">Cancel</button>
        </div>    
      {{/if}}
    {{/each}}
    {{#if model.id}}
    <div class="btn-large-group">
      {{#each blocks as |block|}}
        <button class="primary-button btn small" {{action "addBlock" block model}}>{{block}}</button>
      {{/each}}
    </div>
    {{/if}}
  </form>
</div>