<div class="container">
  <form {{action 'save' model on='submit'}}>
    {{#if model.edit}}
      <h1>{{model.title}}</h1>
      <div class="btn-group ">
        <button {{action 'editInput' model}} class="primary-button btn small m-r">Edit</button>
        <button {{action 'destroyPost' model}} class="secondary-button btn small" tagName="button">Delete</button>
      </div>
    {{else}}
      {{input type="text" value=model.title placeholder="Post Name" class=(if model.errors 'error')}}
      {{#if admin}}
        {{input type="text" value=model.dispalyOrder placeholder="Post Display Order" class=(if model.errors 'error')}}
        {{input type="text" value=model.slug placeholder="Post Slug" class=(if model.errors 'error')}}
        {{input type="text" value=model.status placeholder="Post Status" class=(if model.errors 'error')}}
      {{/if}}
      <div class="btn-group ">
        <button type="submit" class="primary-button btn small m-r">Save</button>
        {{#if model.id}}
          <button {{action 'cancelInput' model}} class="secondary-button btn small" tagName="button">Cancel</button>          
        {{else}}
          <button {{action 'destroyPost' model}} class="secondary-button btn small" tagName="button">Cancel</button>
        {{/if}}
      </div>
    {{/if}}
    {{#each model.blocks as |block|}}
      {{#if block.edit}}
        <div class="content">
          {{block.contentHtmlSafe}}
        </div>
        <div class="btn-group">
          <button {{action 'editInput' block}} class="primary-button btn small m-r">Edit</button>
          <button {{action 'destroyBlock' block}} class="secondary-button btn small" tagName="button">Delete</button>
        </div>
      {{else}}
          {{#if block.blockStatus}}
            {{tinymce-editor options=blockStatus value=block.content onValueChanged=(action "addText" block)}}
          {{else if block.code}}
            {{tinymce-editor options=code value=block.content onValueChanged=(action "addText" block)}}
          {{else if block.hint}}
            {{tinymce-editor options=hint value=block.content onValueChanged=(action "addText" block)}}
          {{else if block.header}}
            {{tinymce-editor options=header value=block.content onValueChanged=(action "addText" block)}}  
          {{/if}}
          <div class="btn-group">
            <button {{action 'saveBlock' block}} class="primary-button btn small m-r">Save</button>
            <button {{action 'cancelInput' block}} class="secondary-button btn small" tagName="button">Cancel</button>
          </div>
      {{/if}}
    {{/each}}
    {{#if model.id}}
    <div class="btn-large-group">
      {{#each blocks as |block|}}
        <button class="primary-button btn small mb-10" {{action "addBlock" block model}}>{{block}}</button>
      {{/each}}
    </div>
    {{/if}}
  </form>
</div>
