{{#unless loginRoute}}
  {{#nav-bar}}
   {{#if session.isAuthenticated}}
    {{#if photo}}
      <img src={{photo}}/>
    {{else}}
      <span class="thumb"></span>
    {{/if}}
      {{#drop-down}}
      <ul>
        {{#if admin}}
        <li>{{#link-to "dashboard.users"}}Users{{/link-to}}</li>
        {{/if}}
        <li>{{#link-to "dashboard"}}Dashboard{{/link-to}}</li>
        <li>{{#link-to "dashboard.profile"}}Profile{{/link-to}}</li>
        <li><a href="#" {{action 'invalidateSession'}}>Logout</a></li>
      </ul>
      {{/drop-down}}
    {{else}}
      {{#link-to 'login'}}Login{{/link-to}}
    {{/if}}
  {{/nav-bar}}
{{/unless}}
{{outlet}}
